@use 'sass:map';

@import '../settings/breakpoints';

@mixin breakpoint($size) {
  @media screen and (min-width: #{map.get($breakpoint-sizes, $size)}px) {
    @content;
  }
}

@mixin flex-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
